<div class="col-md-4 col-md-offset-4">
    <!-- scopes : Shared, Inherited, Isolated -->
    <!-- this is the level of the controller --> <!-- onLogin -->
    <div class="well">
        <!--<div login-box></div>-->
        <!-- this is the level of the directives controller -->
        <!-- loginInfo -->
        <login-box>
           
        </login-box>
        <p>
        <p>this is from the mainController</p>
            <label>{{loginInfo.login}}</label>
            <label>{{loginInfo.password}}</label>
        </p>
    </div>
</div>
